/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
	text-decoration: none;
}

/*---------- Commons ----------*/
@font-face{
	font-family: "Noto Sans Bold";
	src: url("../data/NotoSans/NotoSans-Bold.ttf");
}
@font-face {
	font-family: "Noto Sans Regular";
	src: url("../data/NotoSans/NotoSans-Regular.ttf");
}
@font-face{
	font-family: "Noto Sans CJK JP Bold";
	src: url("../data/NotoSansCJKjp/NotoSansCJKjp-Bold.otf");
}
@font-face {
	font-family: "Noto Sans CJK JP Regular";
	src: url("../data/NotoSansCJKjp/NotoSansCJKjp-Regular.otf");
}
// Color
$blue: #29ABE2;
$pink: #ff386c;
$grey: #f9f9fa;
$light-grey: #CFD8DC; // Blue Grey 100
$black: #2D2926; // PANTONE Black C
$white: #ffffff;
body{
	background-color:$grey;
}
a:link, a:visited, a:active ,a:hover{
	color: $blue;
	text-decoration: none;
}
select{
	color: $black;
	background-color: $white;
}

.btn{ // ボタン
	border: 2px solid $blue;
	border-radius: 2px;
	text-align: center;
	color: $blue;
	background-color: $white;
}
